.smart-agent {
    background-color: green;
}
.smart-agent-font {
    color: green;
    font-weight: bold;
}
.empty {
    background-color: white;
}
.stupid-agent {
    background-color: cornflowerblue;
}
.stupid-agent-font {
    color: cornflowerblue;
    font-weight: bold;
}
.finish {
    background-color: red !important;
}
.wall {
    background-color: black;
}
.drawCell {
    height: 40px !important;
    width: 40px !important;
    text-align: center
}