.path {
    background-color: green;
}
.empty {
    background-color: white;
}
.agent {
    background-color: cornflowerblue;
}
.finish {
    background-color: red !important;
}
.wall {
    background-color: black;
}
.drawCell {
    height: 40px !important;
    width: 40px !important;
    text-align: center
}